doctype html
html
	include templates/head
	body#top-scroll(lang="en")
		include templates/header
		section#plans
			.container
					.plans-item__block
						.row
							.col-xs-12
								h2.half Cloud VPS Hosting Plans #[img.icon.icon-right(src="img/icon-5.png" alt="icon")]
						.row
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.gray
								p.plans-title Basic
								div.mark Rs #[span.bold 1650] /yr
								p.info 1000 MB HDD <br> Free Domain <br>20 GB Bandwidth <br> 30 Days Refund
								button.button.button-gray Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.blue.up-block
								p.plans-title Standard
								div.mark Rs #[span.bold  2250] /yr
								p.info 2000 MB HDD<br> Free Domain <br> 40 GB Bandwidth <br> 30 Days Refund
								button.button.button-blue Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.orange
								p.plans-title Advance
								div.mark Rs #[span.bold 3250] /yr
								p.info 5000 MB HDD <br> Free Domain <br> 75 GB Bandwidth <br> 30 Days Refund
								button.button.button-orange Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.pink
								p.plans-title Business
								div.mark Rs #[span.bold  5550] /yr
								p.info 10000 MB HDD <br> Free Domain <br> 25 GB Bandwidth <br> 30 Days Refund
								button.button.button-pink Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.sky-blue
								p.plans-title Basic
								div.mark Rs #[span.bold  1650] /yr
								p.info 1000 MB HDD <br> Free Domain <br> 20 GB Bandwidth<br> 30 Days Refund
								button.button.button-sky-blue Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.gray-blue
								p.plans-title Standard
								div.mark Rs #[span.bold  2250] /yr
								p.info 2000 MB HDD<br> Free Domain <br> 40 GB Bandwidth <br> 30 Days Refund
								button.button.button-gray-blue Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.green
								p.plans-title Advance
								div.mark Rs #[span.bold 3250] /yr
								p.info 5000 MB HDD <br> Free Domain <br> 75 GB Bandwidth <br> 30 Days Refund
								button.button.button-green Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.yellow
								p.plans-title Business
								div.mark Rs #[span.bold  5550] /yr
								p.info 10000 MB HDD <br> Free Domain <br> 25 GB Bandwidth <br> 30 Days Refund
								button.button.button-yellow Order now
					.row
						.col-xs-12
							h3 Enjoy Power with VPS Hosting
							p.description.margin_0 SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents around the world. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
					.row.vps
						.col-md-4
							h3.with-wrap Cloud VPS Features
							img.icon(src="img/icon-17.png" alt="Icon")
						.col-xs-12.col-sm-6.col-md-4.check-box
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 99.9% Uptime
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 No setup fee
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Guaranteed RAM
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 1 PublicIPv4
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Choice of Operating System
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 99.9% guaranteed times
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Any time Upgrade, downgrade
						.col-xs-12.col-sm-6.col-md-4.check-box
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Full Root Access
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Quick & Easy Payments	
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Guaranteed RAM
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 30 Days Money Back Guarantee
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Free IPv6
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 24x7 Free Suppor
							div.check-block
								img.check(src="img/check.png" alt="icon")
								p.description.margin_2 Choose between Linux and Windows versions
		section#diferences
			.container
				.row
					.col-xs-12
						h2 #[img.icon(src="img/icon-11.png" alt="icon")]Cloud VPS Hosting
						p.description.center SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents around the world. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
				.row.diferences-items
					.col-xs-12.col-sm-12.col-md-6.start
						img.icon.icon-left(src="img/icon-12.png" alt="icon")
						.diferences-items__item
							h3 What is included in ASP.net Windows Hosting?
							p.description SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents arounad the world. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
					.col-xs-12.col-sm-12.col-md-6.start
						img.icon.icon-left(src="img/icon-13.png" alt="icon")
						.diferences-items__item
							h3 Should I get Windows Web Hosting?
							p.description SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents around the wo rld. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
					.col-xs-12.col-sm-12.col-md-6.start
						img.icon.icon-left(src="img/icon-14.png" alt="icon")
						.diferences-items__item
							h3 Why Asp.Net website hosting?
							p.description SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents around the world. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
					.col-xs-12.col-sm-12.col-md-6.start
						img.icon.icon-left(src="img/icon-15.png" alt="icon")
						.diferences-items__item
							h3 Can I transfer my hosting to SilkHost.pk?
							p.description SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents around the world. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
					.col-xs-12.col-sm-12.start
						img.icon.icon-left(src="img/icon-16.png" alt="icon")
						.diferences-items__item
							h3 What is infrastructure behind Windows server hosting?
							p.description SilkHost cloud vps solution is completely customizable hosting solution that can be upgraded anytime. We offer VPS solutions on 17 different datacenter locations in 4 continents around the world. You get full root access that give you absolute control on your Virtual Private Server that can be customized as per your needs. Along with IPv4 we also offer free IPv6 with our cloud VPS on selected locations.
		include templates/footer