doctype html
html
	include templates/head
	body#top-scroll(lang="en")
		include templates/header
		section#owl
			div.owl-carousel
				div.owl-carousel-item(style="background: url('img/bg-1.jpg')")
					.container
						.row
							.col-md-12
								div.central
									p.heading Domain Registration
									p Everything on internet start with a domain name
									.container
										.row
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .bid Rs 299]
													li 
														i.fa.fa-circle
														#[span .life Rs 299]
													li 
														i.fa.fa-circle
														#[span .win Rs 299]
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .pink Rs 299]
													li 
														i.fa.fa-circle
														#[span .bike Rs 299]
													li 
														i.fa.fa-circle
														#[span .today Rs 299]
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .live Rs 299]
													li 
														i.fa.fa-circle
														#[span .loan Rs 299]
													li 
														i.fa.fa-circle
														#[span .promo Rs 299]


				div.owl-carousel-item(style="background: url('img/bg-1.jpg')")
					.container
						.row
							.col-md-12
								div.central
									p.heading Domain Registration
									p Everything on internet start with a domain name
									.container
										.row
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .bid Rs 299]
													li 
														i.fa.fa-circle
														#[span .life Rs 299]
													li 
														i.fa.fa-circle
														#[span .win Rs 299]
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .pink Rs 299]
													li 
														i.fa.fa-circle
														#[span .bike Rs 299]
													li 
														i.fa.fa-circle
														#[span .today Rs 299]
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .live Rs 299]
													li 
														i.fa.fa-circle
														#[span .loan Rs 299]
													li 
														i.fa.fa-circle
														#[span .promo Rs 299]
				div.owl-carousel-item(style="background: url('img/bg-1.jpg')")
					.container
						.row
							.col-md-12
								div.central
									p.heading Domain Registration
									p Everything on internet start with a domain name
									.container
										.row
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .bid Rs 299]
													li 
														i.fa.fa-circle
														#[span .life Rs 299]
													li 
														i.fa.fa-circle
														#[span .win Rs 299]
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .pink Rs 299]
													li 
														i.fa.fa-circle
														#[span .bike Rs 299]
													li 
														i.fa.fa-circle
														#[span .today Rs 299]
											.col-md-3.wide
												ul
													li 
														i.fa.fa-circle
														#[span .live Rs 299]
													li 
														i.fa.fa-circle
														#[span .loan Rs 299]
													li 
														i.fa.fa-circle
														#[span .promo Rs 299]
				div.owl-carousel-item(style="background: url('img/bg-1.jpg')")
					.container
						.row
							.col-md-12
								div.central
									p.heading Domain Registration
									p Everything on internet start with a domain name
									h5 .
									.container
										.row
											.col-md-4.wide
												ul
													li 
														i.fa.fa-circle
														#[span .bid Rs 299]
													li 
														i.fa.fa-circle
														#[span .life Rs 299]
													li 
														i.fa.fa-circle
														#[span .win Rs 299]
											.col-md-4.wide
												ul
													li 
														i.fa.fa-circle
														#[span .pink Rs 299]
													li 
														i.fa.fa-circle
														#[span .bike Rs 299]
													li 
														i.fa.fa-circle
														#[span .today Rs 299]
											.col-md-4.wide
												ul
													li 
														i.fa.fa-circle
														#[span .live Rs 299]
													li 
														i.fa.fa-circle
														#[span .loan Rs 299]
													li 
														i.fa.fa-circle
														#[span .promo Rs 299]


		section#plans
			
			.container
				.plans-item__block
					.row
						.col-xs-12
							h2 Web Hostings Plans #[img.icon.icon-right(src="img/icon-5.png" alt="icon")]	
					.row
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.gray
								p.plans-title Basic
								div.mark Rs #[span.bold 1650] /yr
								p.info 1000 MB HDD <br> Free Domain <br>20 GB Bandwidth <br> 30 Days Refund
								button.button.button-gray Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.blue.up-block
								p.plans-title Standard
								div.mark Rs #[span.bold  2250] /yr
								p.info 2000 MB HDD<br> Free Domain <br> 40 GB Bandwidth <br> 30 Days Refund
								button.button.button-blue Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.orange
								p.plans-title Advance
								div.mark Rs #[span.bold 3250] /yr
								p.info 5000 MB HDD <br> Free Domain <br> 75 GB Bandwidth <br> 30 Days Refund
								button.button.button-orange Order now
						.col-xs-12.col-sm-6.col-lg-3
							div.plans-item.pink
								p.plans-title Business
								div.mark Rs #[span.bold  5550] /yr
								p.info 10000 MB HDD <br> Free Domain <br> 25 GB Bandwidth <br> 30 Days Refund
								button.button.button-pink Order now

		section#domains
			div.info-block
				.container
					.row
						.col-xs-12
							h2 #[img.icon(src="img/icon-6.png" alt="icon")] Web Domains
					.row
						.col-xs-6.col-md-3
							.row
								.col-xs-5
									p.domain-name .com
								.col-xs-6
									p.domain-price $12.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .club
								.col-xs-6
									p.domain-price $9.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .co
								.col-xs-6
									p.domain-price $12.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .space
								.col-xs-6
									p.domain-price $9.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .us
								.col-xs-6
									p.domain-price $5.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .wesite
								.col-xs-6
									p.domain-price $9.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .org
								.col-xs-6
									p.domain-price $12.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .net
								.col-xs-6
									p.domain-price $12.95#[sup /yr*]

						.col-xs-6.col-md-3
							.row
								.col-xs-5
									p.domain-name .info
								.col-xs-6
									p.domain-price $12.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .host
								.col-xs-6
									p.domain-price $39.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .online
								.col-xs-6
									p.domain-price $1.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .site
								.col-xs-6
									p.domain-price $0.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .tech
								.col-xs-6
									p.domain-price $3.95#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .me
								.col-xs-6
									p.domain-price $15.00#[sup /yr*]
							.row
								.col-xs-5
									p.domain-name .biz
								.col-xs-6
									p.domain-price $12.95#[sup /yr*]
						.col-xs-12.col-md-6
							img.ellipse(src="img/Ellipse.png", alt="Domains")

		section#registration
			.container
				.row
					.col-xs-12.col-md-6
						h2 #[img.icon(src="img/icon-7.png" alt="icon")]Domain Registration
						p.description Whether you are running a profitable business and thinking about a new exciting idea, you want to bring to the world, you need an unforgettable unique domain name, that you can register with SilkHost. We offer nearly 1000 different Tlds to choose from which includes from seasoned Tlds like .com, .net and .org as well as new Tlds like .guru, .agency, .online and .club. We can help you to choose the best appropriate name at lowest possible price in the market. Let's bring your idea or business online
					.col-xs-12.col-md-6
						h2.colored #[img.icon(src="img/icon-8.png" alt="icon")] Web Hosting
						p.description Web Hosting plays a very important role in your online presence that's why choosing a right hosting provider is very important when you are building your website. Whether you are an experienced internet user who is managing / developing websites for years, or a newbie who wants to start his new blog / website for the very first time Silk Host has a solution for your unique hosting requirements. Since very business has different requirements that's why we are offering range of packages to meet your unique needs.

		section#products
			.container
				.row
					.col-xs-12.col-md-4
						div.product-item
							img.icons(src="img/icon-1.png", alt="Icon")
							h5 .
							p.title SSL Certificate
							p.products-description Digital Sertifies protect your data including passwords, credit cards and identity information. Let’s increase your customer's confidence in your online business.
							button.button Buy now
					.col-xs-12.col-md-4
						div.product-item
							img.icons(src="img/icon-2.png", alt="Icon")
							p.title Website Builder
							p.products-description Build your website live using state of the art readymade drag and drop interface. Choose from best quality website templates and publish your website instantly.
							button.button Buy now
					.col-xs-12.col-md-4
						div.product-item
							img.icons(src="img/icon-3.png", alt="Icon")
							p.title Antivirus
							p.products-description Protect your home and office with Symantec Endpoint Protection. Get best price for complete range of security solutions from official Symantec partner.
							button.button Buy now

		section#questions
			.container
				.row
					.col-xs-12
						h2 #[img.icon(src="img/icon-9.png" alt="icon")] Frequently Asked Questions
				.row
					.col-xs-12
						p.title.blue #[img.icons(src="img/icon-4.png", alt="Icon")] What Is Cloud Hosting?
						p.description Cloud hosting pools resources from multiple virtual server instances of physical servers. Cloud hosting is noted for its reliability, scalability, and flexibility, making it ideal for businesses and websites that need to maintain fast load times, despite surges in traffic from sales or promotions.
					.col-xs-12
						p.title.blue #[img.icons(src="img/icon-4.png", alt="Icon")] Why HostGator Cloud Hosting?
						p.description Web pros and businesses have been trusting us with their websites since 2002. HostGator has everything you need in one place - domains, hosting, website builder tools, and more. All of our plans come with unlimited email addresses, bandwidth, and storage. Plus, we offer free site transfers. Check out our awards to see why folks think we're the best web host around!
					.col-xs-12
						p.title.blue #[img.icons(src="img/icon-4.png", alt="Icon")] How Secure Is Cloud Hosting?
						p.description Cloud hosting automatically distributes three mirrored copies of your data across multiple devices to ensure safety and redundancy. Additionally, HostGator employs a number of security measures to protect our servers and customers' websites. Our data centers are built using top-of-the-line technology, and servers are monitored 24/7 in a highly secure environment.
					.col-xs-12
						p.title.blue #[img.icons(src="img/icon-4.png", alt="Icon")] How Reliable Is Cloud Hosting?
						p.description Because you're virtually using the resources of multiple servers, cloud hosting safeguards you from an individually overwhelmed, or damaged, physical server. If a server experiences any hardware issue or gets overloaded with resource requests, our automatic failover process seamlessly switches you to another server.
					.col-xs-12
						p.title.blue #[img.icons(src="img/icon-4.png", alt="Icon")] Why Cloud Vs. Shared Web Hosting?
						p.description The major benefit cloud hosting offers over shared hosting is that it allows you to utilize the resources of multiple servers, rather than being limited to a single server. With cloud hosting, you can monitor and allocate additional resources easily, allowing for unlimited expansion and growth. You have total control over your usage, with no surprises.


						
						


		div.popup

		div.footer
		include templates/footer