doctype html
html
	include templates/head
	body#top-scroll(lang="en")
		include templates/header
		section#price-list
			.container
					.row
						.col-xs-12
							h2 Domain Price List
							div.form-block
								form
									input(type="search" name="search" placeholder="TLD Search/Filter")
									button(type="submit")
										img(src="img/arrow.png" alt="arrow")
								p.description At SilkHost we provide you best domain  registration services on lowest market price. Here is our domain price list for registration, renewal and transfer.
						.col-xs-12
							table(cellspacing="0")
								tr
									th TLD #[a.up(href="") #[i.fa.fa-caret-up]] #[a.down(href="") #[i.fa.fa-caret-down]]
									th Duration #[a.up(href="") #[i.fa.fa-caret-up]] #[a.down(href="") #[i.fa.fa-caret-down]]
									th Renewal #[a.up(href="") #[i.fa.fa-caret-up]] #[a.down(href="") #[i.fa.fa-caret-down]]
									th Tranfer #[a.up(href="") #[i.fa.fa-caret-up]] #[a.down(href="") #[i.fa.fa-caret-down]]
								tr
									td.with-padding .ABOGADO
									td.with-padding 3 Years
									td.with-padding.price $149.97
									td.sale.with-padding N/A
								tr
									td .AC 3 
									td 3 Years
									td.price $149.97
									td N/A
								tr
									td .ACADEMY 
									td 3 Years
									td.price $149.97
									td N/A
								tr
									td .ACCOUNTANT
									td 3 Years
									td.price $149.97
									td.sale N/A
								tr
									td .ACCOUNTANTS
									td 3 Years
									td.price $149.97
									td N/A
								tr
									td .ACTOR 
									td 3 Years
									td.price $149.97
									td N/A
								tr
									td .ADULT
									td 3 Years
									td.price $149.97
									td N/A
								tr
									td .AG
									td 3 Years
									td.price $149.97
									td N/A
								tr
									td.no-border .AGENCY
									td.no-border 3 Years
									td.no-border.price $149.97
									td.no-border N/A
						col-xs-12
							a.btn(href="") More
		section#terms
			.container
				.row
					.col-xs-12
						div.plans-item
							.row
								.col-xs-12.col-md-6
									p.title Domain Addons & Terms
									h5 .
								.col-xs-12.col-md-6
									p.description Whois Privacy: #[span.domain-price $3.99]
									p.description Domain Restoration Fee: #[span.domain-price $189.99]
									p.description Free DNS Zone Management
									p.description Prices not applicable to premium domains


		section#price-pakistan
				.container
					.row
						div.top-bottom
							.col-xs-12.col-md-5
								h2 Domain prices in Pakistan
							.col-xs-12.col-md-5.flex-item-1
								p.description After choosing the right domain, you need to find best domain price along with reliable domain provider where you can get timely support. You can always turst SilkHost.pk for best domain prices in Pakistan along with high quality support. We ensure you have most possible control on your domain so you can manage your domain yourself.
							.col-xs-12.col-md-3.flex-item-2
								img(src="img/icon-35.png" alt="icon")
					div.search-domain
						div.form-block
							.row
								.col-xs-12
									form
										input(type="search" name="search" placeholder="Search Your Domain")
										button(type="submit")
											img(src="img/arrow.png" alt="arrow")


		include templates/footer 