doctype html
html
	include templates/head
	body#top-scroll(lang="en")
		include templates/header
		section#domain-registration
			.container
				.row
					.col-xs-12
						h2 Domain Registration in Pakistan
						p.description Just like your name is your identity, a unique domain name or a web address is your unique online identity on www knows as World Wide Web. Weather you are already running a business or just thinking about a unique idea to start and wanted to run it online, you just need a domain name that is very closely related to your business and/or idea and is very easy for your customers to remember. Finding and buying a great domain name is very easy with SilkHost.pk. Choose from 1000’s of top level domain names (Tlds) offered at best possible price in Pakistan.
						h3 #[img.icons(src="img/icon-27.png" alt="Buy Domain Name")] Buy Domain Name
						p.description With SilkHost you can register a traditional .com domain, ccTlds like .pk, .com.pk, co.uk as well as new doamin names like .online, .club, .company, .business. With us you can find a right domain name for your already flourishing business or a new start you are planning to start. At SilkHost, you get huge range of domain options (Domain Tlds) at best available price in the market. Domain name plays an integral role in building your brand, with a catchy doamin name impact becomes higher, let's secure a right domain for you today.
		section#domain-type
			.container
				.row
					.col-xs-12
						h2 Free with every domain
						p.description When you buy a domain name, SilkHost.pk offer some free services, please note these free services are limited to some specific Tlds. Here is list of free services available with domain registration in Pakistan.
				.row
					.col-xs-12.col-md-6
						.row
							.col-xs-12.col-sm-6.col-md-6
								div.domain-type__block
									img.icons(src="img/icon-28.png" alt="icon") 
									p.description <strong>Free Email Accounts:</strong> With domain registration, you can get up to 2 email addresses for free including fraud protection, spam protection and virus protection.
							.col-xs-12.col-sm-6.col-md-6
								div.domain-type__block
									img.icons(src="img/icon-29.png" alt="icon")
									p.description <strong>Domain Forwarding:</strong>You can request us to redirect / forward your domain name with or without masking to some other websites for free.
					.col-xs-12.col-md-6
						.row
							.col-xs-12.col-sm-6.col-md-6
								div.domain-type__block
									img.icons(src="img/icon-30.png" alt="icon")
									p.description <strong>Theft Protection:</strong>Theft protection is by default enabled with most of the SilkHost.pk domain names, this feature secures you from unintentional domain transfer.
							.col-xs-12.col-sm-6.col-md-6
								div.domain-type__block
									img.icons(src="img/icon-31.png" alt="icon")
									p.description <strong>DNS Management:</strong> You can get free lifetime DNS Management service by sending a request to SilkHost support team.
		section#check-domain
			.container
				.row
					.col-xs-12
						h2 How to check domain availability?
						form
							input(type="search" name="search" placeholder="TLD Search/Filter")
							button(type="submit")
								img(src="img/arrow.png" alt="arrow")
						p.description Checking domain name availability is very easy. One can go to domain registration tab and search for and top level, second level or third level pk domain name and subsequently register it if its available for registration.
		section#domain-protection
			.container
				.row
					.col-xs-12
						h2 Domain Privacy Protection
						p.description When you buy a domain name, your person data becomes available publicly as soon domain name registration is successful. With our domain privacy protection feature, you can protect your person data which can possibly be used by hackers to steel your domain.
					.col-xs-12.col-md-4
						h3.small #[img.icons(src="img/icon-32.png" alt="Buy Domain Name")] Who can register a domain?
						p.description Domain can be registered as long its available at the time of registration. You cannot register a domain if its trademarked or copyrighted of some other company.
					.col-xs-12.col-md-4
						h3.small #[img.icons(src="img/icon-33.png" alt="Buy Domain Name")] How to register a domain name?
						p.description Registering a domain name is very easy, first of all you will have to decide, which domain extension you need for example .com, .net, .org or. guru, next step is to find best suited name and perform availability check. If domain name with your selected domain extension is available you can register it by completing order and making its payment.
					.col-xs-12.col-md-4
						h3.small #[img.icons(src="img/icon-34.png" alt="Buy Domain Name")] What is a good domain name?
						p.description Domain name that is short, easy to remember and closely matches to your business is a good domain name. Do not register domain that is trademark or copyright of any other company, because you can face legal issue leading to losing the domain name. You can also find geographical domain extensions like .london or .nyc if you are running a local business.

		include templates/footer