doctype html
html
	include templates/head
	body#top-scroll(lang="en")
		include templates/header

		section#sell
			div.is
				.container
					.row.flex
						.col-md-6
							img.icons(src="img/icon-36.png" alt="icon")
						.col-md-6
							h2 Sell Your Hosting Company
							p.description Do you have a web hosting business that you want to sell? SilkHost.pk is always looking to buy domain registrars, resellers and hosting providers or accounts of any size. We work with companies or individuals who are offering web hosting services but are now planning for something new to leave the web hosting industry. If you are interested in selling your hosting business, we would like to speak to you. When you sell your hosting company we assure you that we will server you customers very well and we will migrate your customers absolutely free.
			div.is-not
				.container
					.row
						.col-xs-12
							div.flex
								img.icons(src="img/icon-36.png" alt="icon")
								h2 Sell Your Hosting Company
						.col.xs-12
							p.description Do you have a web hosting business that you want to sell? SilkHost.pk is always looking to buy domain registrars, resellers and hosting providers or accounts of any size. We work with companies or individuals who are offering web hosting services but are now planning for something new to leave the web hosting industry. If you are interested in selling your hosting business, we would like to speak to you. When you sell your hosting company we assure you that we will server you customers very well and we will migrate your customers absolutely free.
		section#evaluate
			.container
				.row
					.col-xs-0.col-md-1
						img.icon(src="img/icon-39.png" alt="icon")
					.col-xs-12.col-md-11
						h2 How to evaluate Hosting Company?
						p.plans-title.center Following is a list of important factors involved in evaluation of Hosting Company:
						ul
							li
								i.fa.fa-circle
								span Non-recurring returns are not included estimate.
							li
								i.fa.fa-circle
								#[span How much money a company or hosting reseller is making&]
							li
								i.fa.fa-circle
								#[span How do you sell and what is percent of returning customers?]
							li
								i.fa.fa-circle
								#[span Only recurring returns are used to determine the estimate.]
							li
								i.fa.fa-circle
								#[span What are predictable revenues for next 2 years?]

		section#acquisitions
			div.is
				.container
					.row.flex
						.col-md-6
							img.icons(src="img/icon-37.png" alt="icon")
						.col-md-6
							h2 Hosting Company Acquisitions
							p.description To move a step forward in your web hosting acquisition please fill the form below and send us. We will get back to you as soon as possible.
			div.is-not
				.container
					.row
						.col-xs-12
							div.flex
								img.icons(src="img/icon-37.png" alt="icon")
								h2 Hosting Company Acquisitions
						.col.xs-12
							p.description To move a step forward in your web hosting acquisition please fill the form below and send us. We will get back to you as soon as possible.


		section#contacts-form
			.container
				.row
					.col-md-2
						img.icons.icons-is(src="img/icon-38.png" alt="icon")
					.col-xs-12.col-md-10
						h2 #[img.icons(src="img/icon-38.png" alt="icon")] Contacts Form
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing  elit, sed do eiusmod tempor incididunt ut labore
				.row
					.col-xs-12.col-md-10.col-md-offset-2
						form
							div.contacts-info
								label(for="name") Your Name:
								input#name(name="name" placeholder="TLD Search/Filter")
							div.contacts-info
								label(for="email") E-Mail:
								input#email(name="email" placeholder="TLD Search/Filter")
							div.contacts-info
								label(for="phone") Phone:
								input#phone(name="phone" placeholder="TLD Search/Filter")
							div.contacts-info
								label(for="skype") Skype:
								input#skype(name="skype" placeholder="TLD Search/Filter")
							div.contacts-info
								label(for="comments") Comments:
								div.text
									textarea#comments(name="comments" placeholder="TLD Search/Filter")
									button(type="submit") Send
		include templates/footer 

