footer
	.container
		.row
			.col-xs-12
				ul.footer__partners
					li
						img(src="img/pic-1.png" alt="partners")
					li
						img(src="img/pic-2.png" alt="partners")
					li
						img(src="img/pic-3.png" alt="partners")
					li
						img(src="img/pic-4.png" alt="partners")
					li
						img(src="img/pic-5.png" alt="partners")
					li
						img(src="img/pic-6.png" alt="partners")
					li
						img(src="img/pic-7.png" alt="partners")
					li
						img(src="img/pic-8.png" alt="partners")
	div.footer__support
		p.support-info LOOKING FOR HELP? 
		p.support-info CALL OUR #[span 24/7] 
		p.support-info SUPPORT AT  #[a(href="tel:923129971622") +92 312 997 1622] 
	div.footer__menu
		.container
			.row
				.col-xs-12.col-md-6
					.row
						.col-xs-6.col-md-6
							ul.footer__list
								li Hosting
								li
									a.footer__item(href="") Web Hosting
								li
									a.footer__item(href="") Windows Hosting
								li
									a.footer__item(href="") Business Hosting
								li
									a.footer__item(href="") Reseller Hosting
								li
									a.footer__item(href="") VPS Hosting
								li
									a.footer__item(href="") VPS Hosting in Pakistan
								li
									a.footer__item(href="") Dedicated Servers
						.col-xs-6.col-md-6
							ul.footer__list
								li Domains
								li
									a.footer__item(href="") Domain Registration
								li
									a.footer__item(href="") Domain Prices
								li
									a.footer__item(href="") PKNIC Prepaid Cards
								li
									a.footer__item(href="") .pk Domain Registration
				.col-xs-12.col-md-6
					.row
						.col-xs-6.col-md-6
							ul.footer__list
								li Affiliates
								li
									a.footer__item(href="") Sell Your Hosting Company
								li
									a.footer__item(href="") Affiliate Portal
						.col-xs-6.col-md-6
							ul.footer__list
								li About Us
								li
									a.footer__item(href="") About Silkhost
								li
									a.footer__item(href="") Awards & Reviews
								li
									a.footer__item(href="") Company Blog
								li
									a.footer__item(href="") Contact Us
								li
									a.footer__item(href="") Careers
	.container
		.row
			.col-xs-12
				ul.footer__payments
					li
						img(src="img/payment-1.png" alt="payment")
					li
						img(src="img/payment-2.png" alt="payment")
					li
						img(src="img/payment-3.png" alt="payment")
					li
						img(src="img/payment-4.png" alt="payment")
					li
						img(src="img/payment-5.png" alt="payment")
					li
						img(src="img/payment-6.png" alt="payment")
					li
						img(src="img/payment-7.png" alt="payment")
					li
						img(src="img/payment-8.png" alt="payment")
					li
						img(src="img/payment-9.png" alt="payment")
					li
						img(src="img/payment-10.png" alt="payment")
					li
						img(src="img/payment-11.png" alt="payment")
					li
						img(src="img/payment-12.png" alt="payment")
					li
						img(src="img/payment-13.png" alt="payment")
	div.footer_copyright
		.container
			.row
				.col-xs-12
					div.flex
						p.copyright © 2017 SilkHost. All Rights Reserved.
						ul.social-links
							li
								a(href="")
									img(src="img/sl-3.png" alt="social-links")
							li
								a(href="")
									img(src="img/sl-1.png" alt="social-links")
							li
								a(href="")
									img(src="img/sl-2.png" alt="social-links")

	script(src="http://code.jquery.com/jquery-2.2.4.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/app.js")

	

	
	