
header
	div.call-block
		.container
			.row
				.col-xs-12
					div.call-block__info
						div.call
							a.btn-white(href="tel:3129971622") Call us
							a.phone(href="tel:3129971622")  312 997 16 22
						div.login
							a(href="") Login
							a(href="") Signup
	div.logo-block
		.container
			.row
				.col-xs-12
					div.logo
						a(href="")
							h1
								img(src="img/logo.png" alt="SilkHost")
						
						ul.header-menu__list
							li
								a(href="registration.html") Domain Registration
							li.dropdown
								a.dropdown-toggle(href="hosting.html" data-toggle="dropdown") Web-Hosting #[i.fa.fa-caret-down]
								ul.dropdown-menu
									li
										a(href="") Web Hosting
									li
										a(href="") Business Hosting
									li
										a(href="") WordPress Hosting
									li
										a(href="") Reseller Hosting
									li
										a(href="") VPS Hosting Pakistan

							li
								a(href="sell.html") VPS Hosting
							li
								a(href="price.html") Dedicated Servers
							li
								a(href="") Email
							li
								a(href="") Security
						a.menu-link(href="#menu" data-toggle="dropdown")
							span
	div.sm-menu-list.collapse.navbar-collapse(data-dropdown-in="flipInX" data-dropdown-out="flipOutX")
		ul.header-menu__list
			li
				a(href="") Domain Registration
			li.dropdown
				a.dropdown-toggle(href="" data-toggle="dropdown") Web-Hosting #[i.fa.fa-caret-down]
				ul.dropdown-menu
					li
						a(href="") Web Hosting
					li
						a(href="") Business Hosting
					li
						a(href="") WordPress Hosting
					li
						a(href="") Reseller Hosting
					li
						a(href="") VPS Hosting Pakistan
			li
				a(href="") VPS Hosting
			li
				a(href="") Dedicated Servers
			li
				a(href="") Email
			li
				a(href="") Security
		div.call-block__info
			div.call
				a.btn-white(href="tel:3129971622") Call us
				a.phone(href="tel:3129971622") 312 997 16 22
			div.login
				a(href="") Login
				a(href="") Signup
	div.header__form.bg(style="background: url('img/bg.png')")
		.container
			.row
				.col-xs-12
					form
						input.blue(type="search" name="search" placeholder="Enter Your Domain Name")
						button.index-btn(type="submit")
							img(src="img/arrow.png" alt="arrow")
				
				.col-xs-12
					div.flex
						ul.header__list
							li
								i.fa.fa-circle
								#[span.bold com] Rs 999
							li
								i.fa.fa-circle
								#[span.bold net] Rs 999
							li
								i.fa.fa-circle
								#[span.bold info] Rs 999
							li
								i.fa.fa-circle
								#[span.bold online] Rs 999
						ul.header__menu
							li
								a.active(href="") Bulk Domain
							li
								a(href="") Search Transfer Domain
							li
								a(href="") Domain With Server
	
	
