head
	title SilkHost
	meta(charset="utf-8")
	meta(name='theme-color', content='#ffffff')
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
	link(rel="stylesheet" type="text/css" href="css/owl.carousel.min.css")
	link(rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css")
	link(rel="stylesheet" type="text/css" href="css/fonts.css")
	link(rel="stylesheet" type="text/css" href="css/grid.css")
	link(rel="stylesheet" type="text/css" href="css/header.min.css")
	link(rel="stylesheet" type="text/css" href="css/main.min.css")

	